@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

$font-one:  'montserrat', sans-serif;
$font-two:  'archivo-black', sans-serif;


$background-color: #b4b2b2;
$background-main: #e2e2e2;
$primary-color: #31588d;
$secondary-color: #B4CDED;
$text-color: #0D1821;
$variant-color: #DC602E