.footerHome{
    background: #b4c0d6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.titleEnterprise{
    color: #212222;
}
    
.socialMedia{
    ul {
        position: relative;
        display: flex;
    }
    ul li {
        position: relative;
        list-style: none;
        margin: 0 20px;
        cursor: pointer;
    }
    ul li a {
        text-decoration: none;
    }
    ul li a .fa-brands {
        font-size: 2em;
        color: #222;
    }
    ul li a::before {
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2em;
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    ul li:nth-child(1) a::before {
        content: "\f16d";
        background-image: linear-gradient(45deg, 
          #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,
          #bc1888 100%);
        -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
        border-bottom: 4px solid #dc2743;
    }
    ul li:nth-child(2) a::before {
        content: "\e07b";
        color: #8d55bb;
        border-bottom: 4px solid #8d55bb;
    }
    
    
    ul li:hover a::before {
        height: 100%;
    }
}